cbnu-subtitle {
  margin: 2em 0;
  text-align: center;
}

.info {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;

  div {
    margin: 1em;
    color: #555;

    &:first-child {
      margin-left: 0;
      margin-right: auto;
    }
  }
}

.cbnu-editable {
  margin: 1em 0;
}

.container {
  min-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
}

.tools {
  text-align: right;
  padding: 0.5em 0;

  button {
    margin: 0 0.5em;
  }
}

.list-button {
  display: block;
  width: 300px;
  margin: 0 auto;
}
