.tools {
  margin: 0 0 1em;
  text-align: right;
}

.list-item {
  display: flex;
  color: #555;
  width: 100%;

  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: none;
  }

  .no {
    width: 5em;
    text-align: right;
    margin-right: 1.5em;
  }

  .title {
    margin-right: auto;
  }

  .open, .author {
    margin-left: 1em;
  }
}
