<div class="toolbar-container">
  <div class="button-group">
    <div class="dropdown">
      <button type="button" (click)="toggleFormatPopup()">
        <fa-icon [icon]="['fas', 'paragraph']"></fa-icon>
      </button>
      <ul class="popup" [class.hidden]="hiddenFormatPopup">
        <li class="popup-item">
          <button type="button" (click)="setFormat('h1')">Header 1</button>
        </li>
        <li class="popup-item">
          <button type="button" (click)="setFormat('h2')">Header 2</button>
        </li>
        <li class="popup-item">
          <button type="button" (click)="setFormat('h3')">Header 3</button>
        </li>
        <li class="popup-item">
          <button type="button" (click)="setFormat('h4')">Header 4</button>
        </li>
        <li class="popup-item">
          <button type="button" (click)="setFormat('h5')">Header 5</button>
        </li>
        <li class="popup-item">
          <button type="button" (click)="setFormat('h6')">Header 6</button>
        </li>
        <li class="popup-item">
          <button type="button" (click)="setFormat('p')">Paragraph</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="button-group">
    <button type="button" (click)="execCommand('bold')" [disabled]="isHeader">
      <fa-icon [icon]="['fas', 'bold']"></fa-icon>
    </button>
    <button type="button" (click)="execCommand('italic')" [disabled]="isHeader">
      <fa-icon [icon]="['fas', 'italic']"></fa-icon>
    </button>
    <button type="button" (click)="execCommand('underline')" [disabled]="isHeader">
      <fa-icon [icon]="['fas', 'underline']"></fa-icon>
    </button>
    <button type="button" (click)="execCommand('strikeThrough')" [disabled]="isHeader">
      <fa-icon [icon]="['fas', 'strikethrough']"></fa-icon>
    </button>
  </div>
  <div class="button-group">
    <button type="button" (click)="execAlignment('left')">
      <fa-icon [icon]="['fas', 'align-left']"></fa-icon>
    </button>
    <button type="button" (click)="execAlignment('center')">
      <fa-icon [icon]="['fas', 'align-center']"></fa-icon>
    </button>
    <button type="button" (click)="execAlignment('right')">
      <fa-icon [icon]="['fas', 'align-right']"></fa-icon>
    </button>
    <button type="button" (click)="execAlignment('justify')">
      <fa-icon [icon]="['fas', 'align-justify']"></fa-icon>
    </button>
  </div>
  <!--  <div class="button-group">-->
  <!--    <div class="button" brzFileUploader (fileChange)="insertImage($event)" accept="image/*">-->
  <!--      <fa-icon [icon]="['fas', 'image']"></fa-icon>-->
  <!--    </div>-->
  <!--    <div class="button" brzFileUploader (fileChange)="insertVideo($event)" accept="video/*">-->
  <!--      <fa-icon [icon]="['fas', 'video']"></fa-icon>-->
  <!--    </div>-->
  <!--    <div class="button" (click)="insertYoutube()">-->
  <!--      <fa-icon [icon]="['fab', 'youtube']"></fa-icon>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
