<cbnu-section-header title="SW기초교육센터"></cbnu-section-header>
<div class="container">
  <img src="assets/images/intro-basic.jpg" alt="센터소개이미지">
</div>
<cbnu-subtitle title="기초교육센터에서는 무슨일을 하나요?"></cbnu-subtitle>
<div class="list-wrapper">
  <cbnu-color-list-item [item]="item" *ngFor="let item of listItems"></cbnu-color-list-item>
</div>
<cbnu-subtitle title="조직 구성"></cbnu-subtitle>
<div class="list-wrapper">
  <mat-list>
    <mat-list-item>
      <h3 mat-line><strong>센터장: 김미혜 교수</strong></h3>
    </mat-list-item>
    <mat-list-item>
      <h3 mat-line><strong>총 괄: 황경순 교수</strong></h3>
    </mat-list-item>
    <mat-list-item>
      <h3 mat-line><strong>SW 봉사단: 년말 모집(정원: 40명)</strong></h3>
    </mat-list-item>
  </mat-list>
</div>
