<section class="mat-elevation-z1">
  <div class="section-header mat-elevation-z2">
    <h2>정보기술의 이해</h2>
  </div>
  <div class="sub-header">
    <h3>1. 무엇을 배우는 과목인가요?</h3>
  </div>
  <div class="content">
    <p>
      컴퓨터 비전공자를 대상으로 컴퓨터 및 정보기술에 대한 핵심 개념을 부여하기 위한 과목으로, 최신 컴퓨팅 기술을 포함하여 컴퓨터 구조(저수준의 데이터 표현 및 명령어 처리), 컴퓨터 시스템(프로그래밍 언어,
      데이터베이스, 운영체제), 정보기술(컴퓨터 네트워크, 웹, IoT) 등을 학습합니다.<br>
      본 강의를 통하여 학생들은 4차산업혁명 등 급변하는 IT기술환경에서 컴퓨터 및 정보기술이 어떻게 구성되고 동작하는지를 이해할 수 있습니다.
    </p>
  </div>

<!--  <div class="sub-header">-->
<!--    <h3>2. 이 과목을 듣기 위해선 어떤 기초지식이 필요한가요?</h3>-->
<!--  </div>-->
<!--  <div class="content">-->
<!--    <p>-->
<!--      다른 프로그래밍언어를 배우거나 접해보았다면 도움이 되겠지만, 프로그래밍에 대한 특별한 기초지식이 없어도 따라올 수 있도록 구성되었습니다.-->
<!--    </p>-->
<!--  </div>-->

  <div class="sub-header">
    <h3>2. 수업은 어떻게 진행되나요?</h3>
  </div>
  <div class="content">
    <table>
      <thead>
      <tr>
        <th>주차</th>
        <th>수업내용</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>
          4차 산업혁명과 미래기술
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>컴퓨터의 개요</td>
      </tr>
      <tr>
        <td>3</td>
        <td>디지털 정보의 표현</td>
      </tr>
      <tr>
        <td>4</td>
        <td>하드웨어와 멀티미디어</td>
      </tr>
      <tr>
        <td>5</td>
        <td>멀티미디어</td>
      </tr>
      <tr>
        <td>6</td>
        <td>운영체제</td>
      </tr>
      <tr>
        <td>7</td>
        <td>컴퓨팅 사고와 알고리즘</td>
      </tr>
      <tr>
        <td>8</td>
        <td>중간고사</td>
      </tr>
      <tr>
        <td>9</td>
        <td>파이썬 프로그래밍</td>
      </tr>
      <tr>
        <td>10</td>
        <td>데이터베이스</td>
      </tr>
      <tr>
        <td>11</td>
        <td>통신과 보안</td>
      </tr>
      <tr>
        <td>12</td>
        <td>무선통신과 모바일</td>
      </tr>
      <tr>
        <td>13</td>
        <td>정보 보안</td>
      </tr>
      <tr>
        <td>14</td>
        <td>4차산업혁명의 핵심 기술</td>
      </tr>
      <tr>
        <td>15</td>
        <td>기말시험</td>
      </tr>
      </tbody>
    </table>
  </div>

<!--  <div class="sub-header">-->
<!--    <h3>4. 이 과목은 어떻게 활용되나요?</h3>-->
<!--  </div>-->
<!--  <div class="content">-->
<!--    <p>-->
<!--      파이썬은 여러 분야에서 두루 사용되는 매우 활용도가 높은 언어입니다. 파이썬 프로그래밍언어를 다룰 수 있다면, 프로그래밍을 사용하는 여러 분야에서 도움이 될 수 있습니다.-->
<!--    </p>-->
<!--  </div>-->
</section>

<section class="mat-elevation-z1">
  <div class="section-header mat-elevation-z2">
    <h2>파이썬 프로그래밍</h2>
  </div>
  <div class="sub-header">
    <h3>1. 무엇을 배우는 과목인가요?</h3>
  </div>
  <div class="content">
    <p>
      파이썬은 데이터 분석, 자연 과학, 웹, 기계 학습 및 인공 지능 등 다양한 분야에서 쓰이는 프로그래밍언어입니다. 간결하고 가독성이 좋은 문법 구조로 처음 프로그래밍언어를 접하는 사람도 다른 언어에 비해
      쉽게 배울 수 있습니다. 본 강의에서는 파이썬의 기본적인 문법을 배우게 되며, 더 나아가 웹, 파일 입출력, 데이터베이스 등에도 활용할 수 있는 능력을 기를 수 있을 것입니다.
    </p>
  </div>

  <div class="sub-header">
    <h3>2. 이 과목을 듣기 위해선 어떤 기초지식이 필요한가요?</h3>
  </div>
  <div class="content">
    <p>
      다른 프로그래밍언어를 배우거나 접해보았다면 도움이 되겠지만, 프로그래밍에 대한 특별한 기초지식이 없어도 따라올 수 있도록 구성되었습니다.
    </p>
  </div>

  <div class="sub-header">
    <h3>3. 수업은 어떻게 진행되나요?</h3>
  </div>
  <div class="content">
    <table>
      <thead>
      <tr>
        <th rowspan="2">주차</th>
        <th colspan="2">수업내용</th>
      </tr>
      <tr>
        <th>이론</th>
        <th>실습</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>
          파이썬 소개 및 파이썬 개발환경 구성
          <br> - 파이썬 소개
        </td>
        <td>
          - 파이썬 설치 및 기본 개발 도구 사용
          <br>- PyCharm IDE 설치 및 사용
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>기본 자료형 및 변수
          <br> - 숫자
          <br> - 문자열
          <br> - 변수
        </td>
        <td>
          - 간단한 계산 예제 작성
          <br>- 간단한 문자열 처리 예제 작성
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          리스트, 튜플, 딕셔너리, 셋
        </td>
        <td>
          - 리스트 예제 실습
          <br>- 튜플 예제 실습
          <br>- 딕셔너리 예제 실습
          <br>- 셋 예제 실습
          <br>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td>
          제어구문, 함수
          <br> - if 구문
          <br> - for in 구문
          <br> - while 구문
          <br> - 함수의 정의와 호출
        </td>
        <td>
          - 제어구문과 함수를 활용한 예제 실습
        </td>
      </tr>
      <tr>
        <td>5</td>
        <td>
          제너레이터, 데코레이터, 네임스페이스와 스코프, 예외처리
        </td>
        <td>
          - 제너레이터를 이용한 효율적인 프로그래밍 예제 실습
          - 데코레이터 예제 실습
          - 예외 처리 방법 실습
        </td>
      </tr>
      <tr>
        <td>6</td>
        <td>
          모듈, 패키지, 프로그램
        </td>
        <td>
          - 모듈과 패키지 구성해보기
        </td>
      </tr>
      <tr>
        <td>7</td>
        <td>중간시험</td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td>
          객체와 클래스
          <br> - 객체 개념 이해
          <br> - 클래스, 추상클래스, 메서드
          <br> - super, self 이해하기
          <br> - get/set 속성값과 프로퍼티
          <br> - private 네임 맹글링
          <br> - 덕 타이핑
          <br> - 특수 메서드
          <br> - 컴포지션
        </td>
        <td>
          - 클래스를 이용한 실습
          <br>- 추상 클래스를 이용한 실습
        </td>
      </tr>
      <tr>
        <td>9</td>
        <td>
          텍스트 데이터와 이진 데이터
        </td>
        <td>
          - 텍스트 데이터 다루기
          <br>- 이진 데이터 다루기
        </td>
      </tr>
      <tr>
        <td>10</td>
        <td>
          데이터처리
          <br> - 파일 입출력
          <br> - 구조화된 텍스트 파일
          <br> - 구조화된 이진 파일
          <br> - 데이터베이스(RDB, NoSQL, 풀 텍스트 DB)
        </td>
        <td>
          - 파일 다루기 실습
          <br>- 데이터베이스 다루기 실습
        </td>
      </tr>
      <tr>
        <td>11</td>
        <td>
          웹
          <br> - 웹 클라이언트
          <br> - 웹 서버
          <br> - 웹 서비스와 자동화
        </td>
        <td>
          - 간단한 웹 클라이언트 및 서버 구현 실습
        </td>
      </tr>
      <tr>
        <td>12</td>
        <td>
          시스템
          <br> - 파일, 디렉터리
          <br> - 프로그램과 프로세스
          <br> - 달력과 시간
        </td>
        <td>
          - 시스템 자원을 활용하는 예제 실습
        </td>
      </tr>
      <tr>
        <td>13</td>
        <td>
          병행성과 네트워크
        </td>
        <td>
          - 네트워크를 이용한 예제 실습
        </td>
      </tr>
      <tr>
        <td>14</td>
        <td>
          파이 환경 설정 및 도구
          <br> - 파이썬 코드 찾기
          <br> - 패키지 설치
          <br> - 이름과 문서
          <br> - 코드 테스트 및 디버깅
          <br> - 에러 메시지 로깅
          <br> - 코드 최적화
          <br> - 소스 컨트롤
        </td>
        <td>
          - pip를 이용한 패키지 설치 실습
          - 문서화 실습
          - 디버깅 실습
        </td>
      </tr>
      <tr>
        <td>15</td>
        <td>기말시험</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="sub-header">
    <h3>4. 이 과목은 어떻게 활용되나요?</h3>
  </div>
  <div class="content">
    <p>
      파이썬은 여러 분야에서 두루 사용되는 매우 활용도가 높은 언어입니다. 파이썬 프로그래밍언어를 다룰 수 있다면, 프로그래밍을 사용하는 여러 분야에서 도움이 될 수 있습니다.
    </p>
  </div>
</section>

<section class="mat-elevation-z1">
  <div class="section-header mat-elevation-z2">
    <h2>IoT 기술과 프로그래밍</h2>
  </div>
  <div class="sub-header">
    <h3>1. 무엇을 배우는 과목인가요?</h3>
  </div>
  <div class="content">
    <p>
      본 교과목에서는 사물인터넷(IoT)의 기본 개념 및 응용 서비스에 대해 학습합니다.<br>
      IoT 구현을 위핸 아두이노를 활용하며 사물 인터넷과 관련된 주요 센서의 활용 방법과 센서 데이터 수집, 데이터의 처리 및 무선 통신에 의한 데이터 전달에 대해 배우며
      LED, 모터 등의 액츄에이터 제어 방법에 대해 실습함으로써 IoT 응용 서비스의 동작에 대해 이해하고 설계/구현할 수 있는 능력을 함양한다.
    </p>
  </div>

  <div class="sub-header">
    <h3>2. 이 과목을 듣기 위해선 어떤 기초지식이 필요한가요?</h3>
  </div>
  <div class="content">
    <p>
      아두이노 보드를 동작시키기 위해 C언어를 이용하지만 하드웨어 동작을 위한 기본적인 C언어 문법만 사용하며 수업중에 기초적인 C언어에 대해서도 진행하므로 별도의 사전 지식을 필요로 하지 않습니다.
    </p>
  </div>

  <div class="sub-header">
    <h3>3. 수업은 어떻게 진행되나요?</h3>
  </div>
  <div class="content">
    <table>
      <thead>
      <tr>
        <th rowspan="2">주차</th>
        <th colspan="2">수업내용</th>
      </tr>
      <tr>
        <th>이론</th>
        <th>실습</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>
          IoT 서비스 및 아두이노 소개
          <br> - IoT 서비스 소개
          <br> - 아두이노 소개 및 주요기능
        </td>
        <td>아두이노 설치 및 기본 예제 실행</td>
      </tr>
      <tr>
        <td>2</td>
        <td>아두이노 개발환경 및 기본라이브러리 설명
          <br> - 아두이노 스케치의 기본 구성
          <br> - 라이브러리 설치 방법
        </td>
        <td>
          - 아두이노 스케치 실행
          <br>- 아두이노 시리얼 라이브러리 동작 예제 실습
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          아두이노를 위한 C언어 기초
          <br> - 변수선언
          <br> - 함수의 기본개념
          <br> - 조건문 활용
          <br> - 반복문 및 제어문
        </td>
        <td>- C 언어 실습</td>
      </tr>
      <tr>
        <td>4</td>
        <td>
          하드웨어 기초
          <br> - 브레드 보드, 저항, 다이오드 이해
          <br> - 트랜지스터의 이해
        </td>
        <td>
          - 다이오드와 트랜지스터를 활용한 모터 회로 구성
          <br>- 모터를 동작하는 코드 작성
        </td>
      </tr>
      <tr>
        <td>5</td>
        <td>
          디지털 입출력과 PWM
          <br> - digitalRead, digitalWrite 함수 설명
          <br> - PWM 구현 함수 설명
        </td>
        <td>
          - 버튼 및 LED 회로 구성
          <br>- PWM을 이용한 LED 밝기 조절 코드 생성
        </td>
      </tr>
      <tr>
        <td>6</td>
        <td>
          아날로그 데이터 입출력
          <br> - analogRead, analogWrite 함수 설명
        </td>
        <td>
          - 가변 저항과 LED를 연계한 회로 구성
          <br>- 아날로그 센서를 이용한 온도 측정기 제작
        </td>
      </tr>
      <tr>
        <td>7</td>
        <td>중간시험</td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td>
          모터 제어
          <br> - DC모터, 브러시형 모터, 서보 모터 특성 이해
          <br> - 모터 구동에 필요한 관련 부품 설명
        </td>
        <td>
          - 가변 저항을 이용하여 모터 속도 조절하기
          <br>- PC 터미널에서 아두이노 LED 제어
        </td>
      </tr>
      <tr>
        <td>9</td>
        <td>
          UART통신
          <br> - USB와 시리얼 통신간 통신 방법
          <br> - 시리얼 통신을 이용한 데이터 출력
        </td>
        <td>
          - 가변 저항값을 터미널로 출력
          <br>- PC 터미널에서 아두이노 LED 제어
        </td>
      </tr>
      <tr>
        <td>10</td>
        <td>
          블루투스통신
          <br> - 블루투스 기본 개념 이해
          <br> - HC-05 블루투스 제어
        </td>
        <td>
          - 아두이노에서 웹서버 실행
          <br>- 인터넷에서 아두이노 입출력 제어
        </td>
      </tr>
      <tr>
        <td>11</td>
        <td>
          인터넷 연결
          <br> - 인터넷 접속 기본 개념
          <br> - 클라이언트-서버 개념 이해
        </td>
        <td>
          - 아두이노에서 웹서버 실행
          <br>- 인터넷에서 아두이노 입출력 제어
        </td>
      </tr>
      <tr>
        <td>12</td>
        <td>
          웹 응용 프로그램 작성
          <br> - GET, POST 개념 이해
        </td>
        <td>
          - 아두이노에서 http 포맷의 데이터 송수신하기
          <br>- openAPI를 이용한 오픈데이터 수신하기
        </td>
      </tr>
      <tr>
        <td>13</td>
        <td>
          하드웨어 인터럽트, 타이머 인터럽트
          <br> - 폴링과 인터럽트의 이해
        </td>
        <td>- 멀티태스킹을 위한 하드웨어 인터럽트 프로그램 작성</td>
      </tr>
      <tr>
        <td>14</td>
        <td>
          I2C, SPI 통신
          <br> - I2C 장치간 통신의 이해
          <br> - SPI 장치의 통신 이해
        </td>
        <td>
          - I2C 온도 센서를 이용한 아두이노 회로 구성
        </td>
      </tr>
      <tr>
        <td>15</td>
        <td>기말시험</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="sub-header">
    <h3>4. 이 과목은 어떻게 활용되나요?</h3>
  </div>
  <div class="content">
    <p>
      아두이노와 관련된 회로와 코드는 이미 많이 공개되어 있으므로 SW 비전공자들이 본인의 전공과 융합시켜 IoT 서비스 프로젝트를 구축하는데 다양하게 활용될 수 있습니다. 기존에 나와 있는 학습서를 이용하여
      거리측정기, 침입자 알림이, 빗물 감지기,자동 화분 물주기 등의 서비스를 안드로이드와 연동하여 구축할 수 있습니다.
    </p>
  </div>
</section>

<section class="mat-elevation-z1">
  <div class="section-header mat-elevation-z2">
    <h2>인공지능과 기계학습</h2>
  </div>
  <div class="sub-header">
    <h3>1. 무엇을 배우는 과목인가요?</h3>
  </div>
  <div class="content">
    <p>
      인공지능에 대한 기본적인 개념과 지식표현, 추론, 문제공간과 문제해결방법에 대해 학습합니다. 또한 인공지능의 핵심 분야인 기계학습 (machine learning) 및 딥러닝(deep learning)의
      기본 개념을 공부합니다. 신경망, 회귀, 결정트리, 서포트 벡터 머신(SVM), 차원 축소(PCA), 군집화 등 기초적인 기계학습 기법의 개념적 이해와 더불어 파이썬 언어를 사용하여 어떻게 이러한 기계학습
      기법을 적용할 수 있는가를 이해하는 데에 과목의 초점을 맞추어 진행합니다.
    </p>
  </div>

  <div class="sub-header">
    <h3>2. 이 과목을 듣기 위해선 어떤 기초지식이 필요한가요?</h3>
  </div>
  <div class="content">
    <p>
      기초적인 확률 및 통계, 선형대수, 프로그래밍(Python)에 대한 기초 지식이 있으면 도움이 될 수 있습니다. 하지만 기초지식 없이도 쉽게 따라올 수 있도록 개념 위주의 설명과 예제 기반의 강의를
      기본으로 진행합니다.
    </p>
    <table>
      <thead>
      <tr>
        <th rowspan="2">주차</th>
        <th colspan="2">수업내용</th>
      </tr>
      <tr>
        <th>이론</th>
        <th>실습</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>인공지능소개<br> - 인공지능의 역사, 연구 분야 및 최근 동향</td>
        <td>파이썬 및 패키지 설치<br> - 아나콘다(Anaconda), 주피터 노트북</td>
      </tr>
      <tr>
        <td>2</td>
        <td>탐색과 최적화 I<br> - 상태 공간 탐색 & 맹목적 탐색</td>
        <td>파이썬 기본 문법 및 예제 풀이<br> - 변수, print문, 자료형, 리스트, 튜플</td>
      </tr>
      <tr>
        <td>3</td>
        <td>탐색과 최적화 II<br> - 정보이론 및 게임 탐색, 제약조건 만족문제</td>
        <td>파이썬 기본 문법 및 예제 풀이<br> - 제어문(if문, for문)</td>
      </tr>
      <tr>
        <td>4</td>
        <td>지식표현과 추론 I<br> - 지식, 규칙, 프레임</td>
        <td>파이썬 기본 문법 및 예제 풀이<br> - 함수 및 파일 저장</td>
      </tr>
      <tr>
        <td>5</td>
        <td>지식표현과 추론 II<br> - 논리</td>
        <td>기계학습에 필요한 수학(numpy 패키지)<br> - 벡터, 행렬</td>
      </tr>
      <tr>
        <td>6</td>
        <td>지식표현과 추론 III<br> - 의미망, 스크립트, 온톨로지, 불확실한 지식표현</td>
        <td>기계학습에 필요한 수학(numpy 패키지)<br> - 미분, 함수</td>
      </tr>
      <tr>
        <td>7</td>
        <td>중간시험</td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td>기계학습 I<br> - 기계학습의 종류 및 대상 문제</td>
        <td>파이썬 데이터 가져오기(데이터 다운로드)<br> - 사이키-런(Scikit-Learn) 설치</td>
      </tr>
      <tr>
        <td>9</td>
        <td>기계학습 II<br> - 의사결정트리, 군집화 알고리즘, 단순 베이즈 알고리즘</td>
        <td>사이키-런: decision tree, k-means 클러스터, Naive Bayes 실습</td>
      </tr>
      <tr>
        <td>10</td>
        <td>딥러닝 I<br> - 신경망</td>
        <td>케라스(keras) 설치<br>케라스: 신경망 모델 실습(피드포워드 신경망)</td>
      </tr>
      <tr>
        <td>11</td>
        <td>딥러닝 II<br> - 딥러닝이란, 컨볼루션 신경망</td>
        <td>케라스: 신경망 CNN(필기체 숫자 인식)</td>
      </tr>
      <tr>
        <td>12</td>
        <td>딥러닝 도구 - 텐서플로우 프레임워크</td>
        <td>텐서플로우 - 선형회귀 모델</td>
      </tr>
      <tr>
        <td>13</td>
        <td>응용 주제 - 자연어처리, 컴퓨터비전, 데이터마이닝</td>
        <td>팀별 응용 주제 정하기</td>
      </tr>
      <tr>
        <td>14</td>
        <td>응용주제 도구</td>
        <td>사이키-런, 케라스, 텐서플로우를 이용한 간단한 딥러닝 프로젝트</td>
      </tr>
      <tr>
        <td>15</td>
        <td>기말시험</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="sub-header">
    <h3>3. 수업은 어떻게 진행되나요?</h3>
  </div>
  <div class="content">
    <p>
      강의와 조별 과제 및 실습 등 다양한 방법으로 인공지능의 개념 및 기계학습에 대한 기술들을 이해할 수 있도록 실습 프로그래밍 언어를 사용할 수 있지만 능숙하게 잘 하지 않아도 됩니다.
    </p>
  </div>

  <div class="sub-header">
    <h3>4. 이 과목은 어떻게 활용되나요?</h3>
  </div>
  <div class="content">
    <p>
      다양하게 개발될 인공지능 기술 기반의 도구들을 사용하여 자신이 관심 있는 분야의 문제해결을 하는데 도움을 받아 도전해 볼 수 있습니다.
    </p>
  </div>
</section>
