.flex-row {
  display: flex;
}

.align-center {
  align-items: center;
}

.icon-wrapper {
  margin-right: 1em;
}

.label {
  margin-right: auto;
  width: 50%;
}

.add-option {
  color: #ddd;
}

.required {
  text-align: right;
}

.remove-button-wrapper {
  text-align: right;
}
