<cbnu-section-header title="SW융합교육센터"></cbnu-section-header>
<div class="container">
  <img src="assets/images/intro-convergence.jpg" alt="센터소개이미지">
</div>
<cbnu-subtitle title="융합교육센터는 무엇을 하는 곳인가요?"></cbnu-subtitle>
<div class="list-wrapper">
  <cbnu-color-list-item [item]="item" *ngFor="let item of listItems"></cbnu-color-list-item>
</div>
<cbnu-subtitle title="조직 구성"></cbnu-subtitle>
<div class="list-wrapper">
  <mat-list>
    <mat-list-item>
      <h3 mat-line><strong>센터장: 김태홍 교수</strong></h3>
    </mat-list-item>
    <mat-list-item>
      <h3 mat-line><strong>총 괄: 이병훈 교수</strong></h3>
    </mat-list-item>
  </mat-list>
</div>
