<cbnu-section-header title="오픈소스SW센터"></cbnu-section-header>
<div class="container">
  <img src="assets/images/intro-oss.jpg" alt="센터소개이미지">
</div>

<cbnu-subtitle title="OSS센터는 어떻게 구성/운영되나요?"></cbnu-subtitle>
<div class="list-wrapper">
  <cbnu-color-list-item [item]="item" *ngFor="let item of listItems"></cbnu-color-list-item>
</div>

<cbnu-subtitle title="조직 구성"></cbnu-subtitle>
<div class="list-wrapper">
  <mat-list>
    <mat-list-item>
      <h3 mat-line><strong>센터장: 노서영 교수</strong></h3>
    </mat-list-item>
    <mat-list-item>
      <h3 mat-line><strong>총 괄: 안광모 교수</strong></h3>
    </mat-list-item>
    <mat-list-item>
      <h3 mat-line><strong>센터운영보조원: 8명</strong></h3>
    </mat-list-item>
  </mat-list>
</div>
