// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cbnu-sw-homepage-primary: mat-palette($mat-indigo);
$cbnu-sw-homepage-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cbnu-sw-homepage-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$cbnu-sw-homepage-theme: mat-light-theme($cbnu-sw-homepage-primary, $cbnu-sw-homepage-accent, $cbnu-sw-homepage-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cbnu-sw-homepage-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: 960px;
}

* {
  padding: 0;
  margin: 0;
}

.cursor {
  &.pointer {
    cursor: pointer;
  }
}

.cbnu-editable {
  * {
    color: #444;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
  }

  * {
    font-size: inherit !important;
  }

  p {
    font-size: 1rem !important;
    margin: 0 0 0.5em !important;

    b {
      font-weight: 900 !important;
    }
  }

  h6 {
    font-size: 1.25rem !important;
  }

  h5 {
    font-size: 1.5rem !important;
  }

  h4 {
    font-size: 1.75rem !important;
  }

  h3 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 2.25rem !important;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  img, video {
    display: block;
    max-width: 90%;
    margin: 1em auto;
  }
}

.w-100 {
  width: 100% !important;
}

